<app-header-tab titulo="Leer noticias"></app-header-tab>

<ion-content [fullscreen]="true">

  <!-- Se recorre mediante un For el array donde hemos almacenado los artículos seleccionados para leer -->
  <ion-list *ngFor="let articulo of gestionArticulos.getArticulos()">

    <!-- Se muestra cada uno de los articulos añadidos al array para leer mediante una ion-card -->
    <ion-card>
        <img alt="{{ articulo.title }}" src="{{ articulo.urlToImage }}" />
        <ion-card-header>
          <ion-card-title>{{ articulo.title }}</ion-card-title>
          <ion-card-subtitle>{{ articulo.source.name }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>{{ articulo.content }}</ion-card-content>

        <ion-item>  
          <ion-label>
            <a [href]="articulo.url" target="_blank" color="secondary">Leer...</a>
          </ion-label>
          <!-- Al hacer clic en el icono de la papelera se llama a la función confirmar para
          hacer saltar la alerta de confirmación. Se envía el articulo como parámetro -->
          <ion-icon slot="end" name="trash-outline" color="secondary" (click)="confirmar(articulo)"></ion-icon>
        </ion-item>
    </ion-card>

  </ion-list>

</ion-content>
