<app-header-tab titulo="Mis noticias"></app-header-tab>

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-segment (ionChange)="segmentChanged($event)" value="general" color="secondary" scrollable="true" style="min-width: auto;">
    <ion-segment-button value="general">
      <ion-label>General</ion-label>
    </ion-segment-button>
    <ion-segment-button value="business">
      <ion-label>Business</ion-label>
    </ion-segment-button>
    <ion-segment-button value="entertainment">
      <ion-label>Entertainment</ion-label>
    </ion-segment-button>
    <ion-segment-button value="health">
      <ion-label>Health</ion-label>
    </ion-segment-button>
    <ion-segment-button value="science">
      <ion-label>Science</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sports">
      <ion-label>Sports</ion-label>
    </ion-segment-button>
    <ion-segment-button value="technology">
      <ion-label>Technology</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngFor="let articulo of articulos">
    <ion-item>
      <!-- Se muestra el CheckBox y si cambia se llama a la función seleccion enviando el articulo como parámetro -->
      <!-- El CheckBox aparecerá marcado si el artículo se encuentra en el array de artículos seleccionados para leer -->
      <ion-checkbox slot="start" color="secondary" (ionChange)="seleccion($event, articulo)" [checked]="marcar(articulo)"></ion-checkbox>
      <ion-label>
        <!-- Se muestra la información que queremos de cada artículo -->
        <h2>{{ articulo.source.name }}</h2>
        <p>{{ articulo.title }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
